@media (min-width: 1025px) {
  nav li {
    margin: 0 1rem;
  }

  .discover-grid {
    display: grid;
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
    gap: 1rem;
    padding: 2rem;
  }

  .discover-card img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
  }

  .discover-card img:hover {
    transform: scale(1.1);
  }
}
